{{!-- <div>

<h1>Hola {{celebridades.[0].nombre}}  </h1>
<h3>Estos son los nombres de  algunas celebridades del mundo del deporte</h3>

{{#each celebridades}}
    
<div>
<p> <b>Nombre:</b> {{nombre}}. <b>Apellido:</b> {{apellido}}. <b>Profesion:</b> {{profesion}}  </p>
</div>

{{/each}}

</div>
 --}}


<div>
    Todo listo para trabajar con websockets
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js.index.js"></script>