.container-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-chat {
    width: 70%;
    height: 60vh;
    background-color: yellow;
    margin: auto;
    margin-top: 6%; 
    margin-bottom: 2%; 
    border: solid black;
    border-radius: 20px;
    overflow: auto;
}

.contenedor-chat p {
    margin-left: 16px;
}